.Weather {
  font-family: Google Sans, arial, sans-serif-medium, sans-serif;
  border: 1px solid #dadde1;
  display: block;
  margin: 10px auto;
  max-width: 650px;
  padding: 10px;
  background: radial-gradient(
    905px at 4.9% 85.8%,
    rgb(255, 243, 242) 0.1%,
    rgb(255, 247, 220) 57.6%
  );
}
.Weather .MainDisplay {
  padding-left: 20px;
  padding-right: 30px;
}

.Weather h1 {
  font-size: 22px;
  line-height: 26px;
  color: #202124;
  text-align: right;
}
.Weather canvas {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  margin-right: 6px;
}
.Weather form {
  margin-bottom: 20px;
  padding: 10px 20px 0px 20px;
}

.Weather ul {
  list-style: none;
}

.Weather .CurrentTime {
  font-size: 16px;
  line-height: 20px;
  color: #70757a;
  text-align: right;
}
.Weather .Temperature {
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
  color: #202124;
}

.Weather .RainWind {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  margin-left: -52px;
  color: #70757a;
}

.Weather .Button {
  padding: 6px 25px;
}

.Weather .CurrentLocation {
  cursor: pointer;
  font-weight: 170px;
  text-align: center;
  position: relative;
  margin-left: -15px;
}
